body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    box-sizing: border-box;
}

.header {
    background-color: rgb(29, 33, 38);
    height: 80px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    ul {
        display: flex;
        list-style-type: none;
        li {
            padding: 25px;
        }
        a {
            padding: 5px;
            border-radius: 10%;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(137, 146, 146);
            &:hover {
                transition: 0.3s all;
                border: 1px solid rgb(137, 146, 146);
                color: rgb(35, 183, 164)
            }
        }
    }
}

.jumbotron-section {
    height: calc(100vh - 80px);
    width: 100%;
    background-image: url(../css/img/header-img.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    .jumbotron-section_title {
        font-family: "Quattrocento Sans";
        font-weight: bold;
        font-size: 36px;
        text-transform: uppercase;
        margin: 0;
        cursor: pointer;
    }
    .jumbotron-section_text {
        padding-bottom: 10px;
        font-size: 16px;
        max-width: 650px;
        width: 100%;
    }
}

.button {
    margin-right: 10px;
    width: 120px;
    height: 40px;
    border: 2px solid white;
    border-radius: 5px;
    background-color: transparent;
    text-transform: uppercase;
    &:hover {
        transition: 0.3s all;
        background-color: rgb(35, 183, 164);
        border: none;
    }
}

.team-section {
    padding: 50px 0;
    .team-section_title {
        font-family: "Quattrocento Sans";
        padding-left: 15px;
        border-left: 15px solid rgb(225, 230, 234);
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
    }
    .team-member {
        .member {
            height: 375px;
            background-color: rgb(225, 230, 234);
            position: relative;
            &:hover .member-pic_name {
                transition: 0.3s all;
                background-color: rgb(58, 69, 77);
                color: white;
            }
            &:hover .team-member_pic {
                transition: 0.3s all;
                opacity: 0.5;
            }
            &:hover .team-member_social {
                display: flex;
            }
        }
        .team-member_social {
            display: flex;
            justify-content: center;
            align-items: center;
            top: calc(-15%);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 5;
            display: none;
            .social-box {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2px;
                height: 55px;
                width: 55px;
                background-color: rgb(58, 69, 77);
                &:hover {
                    background-color: rgb(78, 90, 98);
                }
            }
            .fab {
                color: white;
            }
        }
        .member-pic_name {
            padding: 15px;
            h3,
            p {
                margin: 0;
                padding: 0;
            }
            p {
                color: rgb(141, 143, 146);
            }
        }
    }
}

.work-section {
    padding: 50px 0;
    background-color: rgb(58, 69, 77);
    .work-section_title {
        font-family: "Quattrocento Sans";
        padding-left: 15px;
        border-left: 15px solid rgb(78, 90, 98);
        color: white;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
    }
    .pic-box {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        position: relative;
        &:hover .gallery-pic_layer {
            display: initial;
        }
        &:hover .gallery-pic_text {
            display: flex;
        }
        &:hover .fas {
            display: initial;
        }
        .fas {
            display: none;
            position: absolute;
            top: 35%;
            color: white;
        }
    }
    .gallery-pic_layer {
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgb(41, 47, 54);
        opacity: 0.5;
        display: none;
    }
    .gallery-pic_text {
        position: absolute;
        display: none;
        padding-left: 20px;
        color: white;
        text-transform: uppercase;
        width: 100%;
        height: 60px;
        bottom: 0;
        background-color: rgb(41, 47, 54);
        .pic_text {
            font-weight: 300;
        }
    }
    .work-section_button {
        text-align: center;
        margin-top: 50px;
        .btn-show-more {
            color: white;
            width: 150px;
        }
    }
}

.services-section {
    padding: 50px 0;
    .services-section_title {
        font-family: "Quattrocento Sans";
        padding-left: 15px;
        margin-bottom: 100px;
        border-left: 15px solid rgb(225, 230, 234);
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
    }
    .service-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .service-box_description {
            text-align: center;
            .service-box_title {
                text-transform: uppercase;
                font-size: 17px;
                padding-top: 10px;
                font-weight: normal;
            }
            .service-box_text {
                font-size: 16px;
                line-height: 1.6;
                color: rgb(141, 143, 146);
            }
        }
    }
    .services_row {
        padding-bottom: 50px;
    }
}

.contact-section {
    padding: 50px 0;
    position: relative;
    .contact-section_title {
        padding-left: 15px;
        margin-bottom: 100px;
        border-left: 15px solid rgb(225, 230, 234);
        text-transform: uppercase;
        font-family: "Quattrocento Sans";
        font-size: 36px;
        font-weight: bold;
    }
    .contact-section_bg {
        background-image: url(../css/img/contact-bg.png);
        height: 346px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .contact-info_title {
        margin-left: 10px;
        padding: 20px 0 0;
        font-size: 20px;
        text-transform: uppercase;
        .contact_information {
            font-size: 20px;
            font-family: "Quattrocento Sans";
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.3;
        }
    }
    .contact-info_text {
        font-size: 16px;
        line-height: 1.625;
        color: rgb(141, 143, 146);
        span {
            font-weight: bolder;
        }
    }
    .contact-box {
        position: absolute;
        top: 50%;
        left: 50%;
        .contact-form {
            top: 40%;
            height: 100%;
            width: auto;
            max-width: 555px;
            background-color: white;
            display: inline-block;
            legend {
                margin: 30px 0 0 10px;
                display: block;
                text-transform: uppercase;
                font-size: 14px;
                font-family: "Quattrocento Sans";
                line-height: 1.857;
                color: rgb(141, 143, 146);
            }
            input {
                padding: 5px;
                max-width: 240px;
                width: 100%;
                height: 45px;
                background-color: rgb(234, 238, 241);
                border: none;
                border-radius: 3px;
            }
            textarea {
                padding: 10px;
                resize: none;
                max-width: 517px;
                max-height: 160px;
                width: 100%;
                height: 100%;
                background-color: rgb(234, 238, 241);
                border: none;
                border-radius: 3px;
            }
            .send-btn {
                margin: 30px 0;
                background-color: rgb(35, 183, 164);
                width: 100%;
                width: 150px;
                height: 40px;
                color: white;
                border: none;
                font-size: 14px;
                &:hover {
                    display: inline-block;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px) translateZ(0);
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 2px rgba(0, 0, 0, 0);
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-property: transform;
                    transition-property: transform;
                }
                &:hover,
                .focus,
                .active {
                    -webkit-transform: scale(1.05);
                    transform: scale(1.05);
                }
            }
        }
    }
}