body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
    box-sizing: border-box;
}

.header {
    background-color: rgb(29, 33, 38);
    height: 80px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    ul {
        display: flex;
        list-style-type: none;
        li {
            padding: 25px;
        }
        a {
            padding: 5px;
            border-radius: 10%;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            color: rgb(137, 146, 146);
            &:hover {
                transition: 0.3s all;
                border: 1px solid rgb(137, 146, 146);
                color: rgb(35, 183, 164)
            }
        }
    }
}

.jumbotron-section {
    height: calc(100vh - 80px);
    width: 100%;
    background-image: url(../css/img/header-img.png);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    .jumbotron-section_text {
        font-size: 36px;
        text-transform: uppercase;
        margin: 0;
        cursor: pointer;
    }
    p {
        padding-bottom: 10px;
        font-size: 16px;
        max-width: 650px;
        width: 100%;
    }
    .button {
        margin-right: 10px;
        width: 120px;
        height: 40px;
        border: 2px solid white;
        border-radius: 5px;
        background-color: transparent;
        text-transform: uppercase;
        &:hover {
            transition: 0.3s all;
            background-color: rgb(35, 183, 164);
            border: none;
        }
    }
}

.team-section {
    padding: 50px 0;
    .team-section_title {
        padding-left: 15px;
        border-left: 15px solid rgb(225, 230, 234);
        text-transform: uppercase;
        font-size: 36px;
    }
    .team-member {
        .member {
            height: 375px;
            background-color: rgb(225, 230, 234);
            position: relative;
            &:hover .member-pic_name {
                transition: 0.3s all;
                background-color: rgb(58, 69, 77);
                color: white;
            }
            &:hover .team-member_pic {
                transition: 0.3s all;
                opacity: 0.5;
            }
            &:hover .team-member_social {
                display: flex;
            }
        }
        .team-member_social {
            display: flex;
            justify-content: center;
            align-items: center;
            top: calc(-15%);
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 5;
            display: none;
            .social-box {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 2px;
                height: 55px;
                width: 55px;
                background-color: rgb(58, 69, 77);
            }
            .fab {
                color: white;
            }
        }
        .member-pic_name {
            padding: 15px;
            h3,
            p {
                margin: 0;
                padding: 0;
            }
            p {
                color: rgb(141, 143, 146);
            }
        }
    }
}

.work-section {
    padding: 50px 0;
    background-color: rgb(58, 69, 77);
    .work-section_title {
        padding-left: 15px;
        border-left: 15px solid rgb(78, 90, 98);
        color: white;
        text-transform: uppercase;
        font-size: 36px;
    }
    .work-section_gallery {
        .pic-box {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            position: relative;
            &:hover .gallery-pic_layer {
                display: initial;
            }
            &:hover .gallery-pic_text {
                display: flex;
            }
            &:hover .fas {
                display: initial;
            }
            .fas {
                display: none;
                position: absolute;
                top: 35%;
                color: white;
            }
        }
        .gallery-pic_layer {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgb(41, 47, 54);
            opacity: 0.5;
            display: none;
        }
        .gallery-pic_text {
            position: absolute;
            display: none;
            padding-left: 20px;
            color: white;
            text-transform: uppercase;
            width: 100%;
            height: 60px;
            bottom: 0;
            background-color: rgb(41, 47, 54);
            .pic_text {
                font-weight: 300;
            }
        }
    }
}